<!-- <app-header></app-header> -->
<div class="mainContainer">
    <div class="leftSection">
        <div class="row">

            <div class="mid">
                <!-- <img
                    src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/64/000000/external-healthcare-health-care-and-medical-flatart-icons-outline-flatarticons-2.png" /> -->
                <img
                    src="https://img.icons8.com/external-flaticons-flat-flat-icons/64/000000/external-life-activism-flaticons-flat-flat-icons-2.png" />
                <h2 class="heading">Hello,</h2>
                <h2 class="heading">Welcome Back</h2>
                <p class="para">Sign in to access the portal</p>

                <div>
                    <form [formGroup]="logForm" (ngSubmit)="login()">
                        <div class="example-container">
                            <mat-form-field appearance="legacy">
                                <mat-label>Enter your email</mat-label>
                                <input matInput placeholder="pat@example.com" formControlName="email" required>

                                <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->

                                <small class="text-danger" *ngIf="email?.invalid && email?.touched">Enter valid Email id
                                </small>
                            </mat-form-field>
                        </div>

                        <div class="example-container">
                            <mat-form-field appearance="legacy">
                                <mat-label>Enter your password</mat-label>
                                <input matInput placeholder="Bullet@500" formControlName="password" required
                                    [type]="hide ? 'password' : 'text'">
                                <button mat-icon-button matSuffix (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>

                                <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                                <small class="text-danger" *ngIf="password?.invalid && password?.touched"
                                    class="text-danger">Password should be atleast 6 characters
                                </small>
                            </mat-form-field>
                        </div>
                        <input type="submit" name="" id="" value="LOGIN" class="btn myButton" mat-raised-button
                            aria-label="Button that" [disabled]="logForm.invalid" mat-stroked-button>
                        &nbsp; <span style=" font-size: 12px;">Don't have an account?</span>&nbsp; <a
                            routerLink="/signup">Create</a>
                        <div class="row" *ngIf="showMsg">
                            <div class="col-xs-12">
                                <p class="alert alert-success">
                                    <strong>Registration Success!</strong> Please click here to login!.

                                </p>
                            </div>
                        </div>

                        <!-- [matTooltip]="message.value"  -->
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="rightSection">
        <!-- <img src="../../assets/undraw_authentication_re_svpt.svg" alt="" style="height:50%"> -->
    </div>
</div>
<!-- <app-footer></app-footer> -->
<!-- <router-outlet></router-outlet> -->