<div class="footer">
    <mat-grid-list cols="2" rowHeight="8:1" style="background: #ffa726;">
        <mat-grid-tile>&copy;&nbsp;&nbsp;<span>oneCare Heath Care</span>
            <!-- <iframe src=”https://www.google.com/maps/embed?pb=!…” width=”600″ height=”450″ frameborder=”0″ style=”border:0″ allowfullscreen></iframe> -->

        </mat-grid-tile>
        <mat-grid-tile>CONTACT US &nbsp;&nbsp;|
            &nbsp;&nbsp;
            <mat-icon>phone_callback</mat-icon> &nbsp;&nbsp;
            <span>9777729450</span>
        </mat-grid-tile>
    </mat-grid-list>
</div>