<div class="imageHome">
    <!-- <div class="left">
        <mat-sidenav-container>
            <mat-sidenav>
                <mat-nav-list>
                    <a mat-list-item>Home</a>
                    <a mat-list-item>Home</a>
                    <a mat-list-item>Home</a>
                    <a mat-list-item>Home</a>
                </mat-nav-list>
            </mat-sidenav>
            <mat-sidenav-content>
                <div style="height:88vh"></div>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
    <div class="right"> -->
    <!-- <img src="../../assets/undraw_doctors_hwty.svg" alt="docs images" style="width: 57.5%;"> -->
    <!-- </div> -->
</div>