<!-- <app-header></app-header> -->
<router-outlet></router-outlet>
<!-- <app-content-middle-section></app-content-middle-section>  -->
<!-- <app-footer></app-footer> -->
<div class="mainHome">
    <div class="left-home">

    </div>
    <div class="right-home">
        <h1 style="padding: 10px;">Welcome to One Care Medical </h1>
        <p class="para">
            OCMC is international ortho hospital in Coimbatore and our ortho doctors here are always at the top of their
            game. We are passionate about providing personalized attention and orthopaedic treatments for all the
            patients who visit us in good faith Moreover, safety of our patients is paramount and our vision is to be
            rated as among the best ortho hospitals for minimal post operative complications.</p>
        <input type="button" value="Book Appointment" class="btn myButton" id=""
            style="margin-left: 15px; margin-top: 30px;" (click)="openDialog()"> &nbsp;
        <input type="button" value="View Appointment" class="btn myButton" style="margin-top: 30px;"
            (click)="viewAppointment()">
    </div>
</div>
<router-outlet></router-outlet>