<div class="adminContainer" *ngIf="update">
    <!-- <h1>Hello, {{user[0]}}</h1> -->
    <p>Welcome to the One Care Hospital</p>
    <h2>You can access the various features after Login/SignUp.</h2>
    <hr>
    <input type="submit" name="" id="" value="LOGIN" class="btn myButton" mat-raised-button routerLink="login"> &nbsp;
    <input type="submit" name="" id="" value="SIGNUP" class="btn myButton" mat-raised-button routerLink="signup">
</div>
<!-- <app-login *ngIf="adminName == 'login'"></app-login>
<app-sign-up *ngIf="adminName == 'signup'"></app-sign-up> -->